.*{
	margin: 0;
	padding: 0;
}
.header {
	background-color: #DFDFDD;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.header_content {
	min-height: 40px;
	overflow: hidden;
}

.logo {
	width: 6%;
    height: 63px;
    border-radius: 63px;
    background-color: #BDBEC0;
    float: left;
}

.nav {
	width: 40%;
	float: right;
	min-height: 40px;
}

.b1 {
	height: 20px;
    width: 62px;
    background-color: #BDBEC0;
    float: left;
    margin-right: 20%;
    margin-top: 22px;
    border-radius: 5px;
}

.b2 {
	height: 20px;
    width: 62px;
    background-color: #BDBEC0;
    float: left;
    margin-right: 20%;
    margin-top: 22px;
    border-radius: 5px;
}

.b3 {
	height: 20px;
    width: 62px;
    background-color: #BDBEC0;
    float: left;
    margin-top: 22px;
    border-radius: 5px;
}

.banner {
	overflow: hidden;
}
.banner_content{
	padding-top: 20px;
	    padding-left: 3%;
}

.bannerp {
	width: 46%;
    min-height: 228px;
    background-color: #BDBEC0;
    float: left;
    margin-left: -28px;
    padding-right: 11%;
}

.banner_para {
	width: 43%;
    float: right;
    overflow: hidden;
    margin-left: 5%;
    margin-right: -32px;
}

.banner_para h1{
	width: 62%;
    min-height: 22px;
    background-color: #BDBEC0;
}

.banner_para p{
	width: 92%;
    min-height: 10px;
    background-color: #DFDFDD;
}
.service_1{
	overflow: hidden;
	padding-top: 20px;
}
.service_content1{
	overflow: hidden;
}
.single_service1{
	width: 33%;
	min-height: 200px;
    float: left;
    overflow: hidden;
}
.photo{
	width: 90%;
	min-height: 200px;
	float: left;
	background-color: #BDBEC0; 
	
}
.service_1 h1{
	width: 60%;
	height: 20px;
	float: left;
	background-color: #BDBEC0;
	
}
.service_1 p{
	width: 90%;
    min-height: 10px;
    float: left;
    background-color: #DFDFDD;
    margin-top: 0px;
    margin-bottom: 6px;
	
}

.single_service2{
	width: 33%;
	min-height: 200px;
    float: left;
    overflow: hidden;
    margin-left: 3%;
}
.photo2{
	width: 90%;
	min-height: 200px;
	float: left;
	background-color: #BDBEC0; 
	
}
.service_1 h1{
	width: 60%;
	height: 20px;
	float: left;
	background-color: #BDBEC0;
	
}
.service_1 p{
	width: 90%;
    min-height: 10px;
    float: left;
    background-color: #DFDFDD;
    margin-top: 0px;
    margin-bottom: 6px;
	
}
.single_service3{
	width: 33%;
	min-height: 200px;
	overflow: hidden;
    float: right;
    margin-right: -4%;
}
.photo3{
	width: 90%;
	min-height: 200px;
	float: left;
	background-color: #BDBEC0; 
}
.service_2{
	overflow: hidden;
	padding-top: 20px;
}
.srvice_content1{
	overflow: hidden;
}
.single_service2{}
.photo{
	width: 90%;
	min-height: 200px;
	float: left;
	background-color: #BDBEC0;	
}
.service_2 h1{
	width: 60%;
	height: 20px;
	float: left;
	background-color: #BDBEC0;
	
}
.service_2 p{
	width: 90%;
    min-height: 10px;
    float: left;
    background-color: #DFDFDD;
    margin-top: 0px;
    margin-bottom: 6px;
	
} 
.footer{
	background-color: #DFDFDD;
    padding-top: 13px;
    margin-top: 20px;
}
.wrapper{}
.footer_content{
	min-height: 100px;
	overflow: hidden;
}
.footer_1{
	width: 24%;
	overflow: hidden;
	min-height: 100px;
	float: left;
	padding-bottom: 20px;
}
.footer_1 h1{
	width: 90%;
	height: 20px;
	float: left;
	background-color: #BDBEC0;
}
.footer_1 p{
    width: 90%;
    min-height: 10px;
    float: left;
    background-color: #D2D2D4;
    margin-top: 0px;
    margin-bottom: 6px;
    color: #D2D2D4;
}
.footer_4{
	width: 24%;
	overflow: hidden;
	min-height: 100px;
	float: right;
	padding-bottom: 20px;
}
.footer_4 h1{
	width: 90%;
	height: 20px;
	float: left;
	margin-bottom: 16px;
	background-color: #BDBEC0;
}
.footer_4 p{
	width: 20%;
    height: 20px;
    float: left;
    background-color: #BDBEC0;
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 13px;
}
.footer_4 h4{
	width: 90%;
    min-height: 10px;
    float: left;
    background-color: #D2D2D4;
    margin-top: 0px;
    margin-bottom: 6px;
    color: #D2D2D4;

}
.line{}
.line_content{
	overflow: hidden;
}
.line1{
	width: 70%;
	float: left;
	overflow: hidden;
}
.line1 h1{
	width: 80%;
	height: 10px;
	float: left;
	background-color: #BDBEC0;
	border-radius: 5px;
}
.line2{
	width: 20%;
	float: right;
}
.line2 h1{
	width: 90%;
	height: 10px;
	float: right;
	background-color: #BDBEC0;
	border-radius: 5px;
}